table{
    display:inline-block;
}

#doecode-user-services-user-registration-and-account-maintenance{
    font-size: 17px;
}

#user-services-login-block{
    margin-top:-170px;
}
#user-services-on-update-user-on-success{
    margin-top:-170px;
}

#metadata-projects-pending-responses-contain{
    margin-top:-130px;
}

#metadata-project-pagination{
    margin-top:-170px;
}

#metadata-save-upload-via-api{
    margin-top:-515px;
}

#metadata-validation-rules-are{
    margin-top:-480px;
}
#metadata-validation-rules-are + ul{
    margin-top:-450px;
}

#metadata-services-announce {
    margin-top: -480px;
}

#metadata-services-announce + ul{
    margin-top: -450px;
}

#metadata-services-approve-newprev{
    margin-top:-275px;
}