<?xml version="1.0" encoding="UTF-8"?>
<web-app 
 id="DOECode" version="3.0" 
 xmlns="http://java.sun.com/xml/ns/javaee" 
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>DOE Code Web Application</display-name>
    <context-param>
        <description>JPA persistence unit name</description>
        <param-name>persistence_unit</param-name>
        <param-value>DOECode</param-value>
    </context-param>
    <context-param>
        <description>Base API hostname for external resources</description>
        <param-name>api.host</param-name>
        <param-value>${serviceapi.host}</param-value>
    </context-param>
    <context-param>
        <description>Base API host name for publishing to OSTI</description>
        <param-name>publishing.host</param-name>
        <param-value>${publishing.host}</param-value>
    </context-param>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>gov.osti.listeners.DoeServletContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>DOECode</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>jersey.config.server.provider.classnames</param-name>
            <param-value>org.secnod.shiro.jersey.AuthorizationFilterFeature, org.secnod.shiro.jersey.SubjectFactory, org.secnod.shiro.jersey.AuthInjectionBinder,
            org.secnod.shiro.jaxrs.ShiroExceptionMapper,
            gov.osti.services.Metadata,gov.osti.services.Types,gov.osti.services.Validation, 
            gov.osti.services.SearchService,org.glassfish.jersey.media.multipart.MultiPartFeature,
            gov.osti.services.Documentation,
            gov.osti.services.Authentication, gov.osti.services.UserServices,org.glassfish.jersey.server.mvc.jsp.JspMvcFeature</param-value>
        </init-param>
        <init-param>
            <param-name>jersey.config.server.mvc.templateBasePath.jsp</param-name>
            <param-value>/WEB-INF/jsp</param-value>
        </init-param>       
    </servlet>
    <servlet-mapping>
        <servlet-name>DOECode</servlet-name>
        <url-pattern>/services/*</url-pattern>
    </servlet-mapping>

	<listener>
		<listener-class>org.apache.shiro.web.env.EnvironmentLoaderListener</listener-class>
	</listener>

	<filter>
		<filter-name>ShiroFilter</filter-name>
		<filter-class>org.apache.shiro.web.servlet.ShiroFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>ShiroFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
	</filter-mapping>
	
</web-app>
